---
import PageLayout from "~/layouts/PageLayout.astro";


export function getStaticPaths() {
  return [
    { params: { locale: "en" } },
    { params: { locale: "fr" } },
    { params: { locale: "th" } },
    { params: { locale: "la" } },
  ];
}
const id = Astro.url.searchParams.get('id');
console.log(id)
---

<PageLayout>
    
    
    <span>

        {id} 
    </span>
</PageLayout>